<!DOCTYPE html>
<html>
  <head>
    <title><%= titleT %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titleH %></h1>
    <p>Welcome to <%= titleB %></p>
  </body>
</html>
